*.autosave
*.pro.user.0f65698
*.pro.user
/data/
*.dat
*.png
*.pro.user.b7091d2
/Obj/
/cuda_common/
/doctors
/Debug/
/GeneratedFiles/
/Release/
/x64/
/.vs/
/doctors.sln
/doctors.vcxproj
/doctors.vcxproj.filters
/doctors.vcxproj.user
*.exe
*.ilk
*.VC.db
*.pdb
