/build-doctors-Desktop_Qt_5_4_1_GCC_64bit-Debug/
/build-doctors-Desktop_Qt_5_5_0_GCC_64bit-Debug/
build-doctors-Desktop_Qt_5_6_0_MinGW_32bit-Debug
/build-doctors-Desktop_Qt_5_6_0_MSVC2015_64bit-Debug/
/build-exnih-Desktop_Qt_5_4_1_GCC_64bit-Debug/
/mcnp.gitignore/
/build-doctors-Desktop-Debug/
/template_rpc/
/CT_bench_test/
